todo.txt
__pycache__
Other Series/Hypergeometric Inversions/Series 1
Other Series/Hypergeometric Inversions/Series 1/series_1.py

Factorials/Double factorial/Series 4/
# Added by cargo

/target
src
Cargo.lock
Cargo.toml